[submodule "external/SDL"]
	path = external/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "external/DiligentEngine"]
	path = external/DiligentEngine
	url = https://github.com/DiligentGraphics/DiligentEngine.git
