# Build artifacts
build/
build-*/
*.a
*.so
*.o
*.obj

# CMake files
CMakeCache.txt
CMakeLists.txt.user
compile_commands.json
**/CMakeCache.txt
**/CMakeFiles
**/cmake_install.cmake
**/CMakeLists.txt.user

# Binaries
*.exe
*.dll
*.app
*.so

# Misc
.DS_Store
